body{
    background-color: antiquewhite;
    text-align:center;
}

p{
    color: rgb(212, 146, 124);
}

h1{
    font-style: oblique;
}

.insidejoke {
    color: rgb(212, 76, 76);
}

.goth {
    width: 45%;
}